.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: 20px;
  width: 80%;
}

.message-history {
  background-color: #e2eae2;
  border-radius: 20px;
  padding: 20px;
  overflow-y: scroll;
  height: 100%;
  margin-bottom: 10px;
}

.me-message {
  background-color: #f1f0f0;
  border-radius: 15px;
  border-bottom-right-radius: 3px;
  margin-bottom: 10px;
  margin-left: auto;
  width: fit-content;
  padding: 10px;
  text-align: right;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.them-message {
  background-color: #f1f0f0;
  border-radius: 15px;
  border-bottom-left-radius: 3px;
  margin-bottom: 10px;
  margin-right: auto;
  width: fit-content;
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* display: inline-block;
  max-width: 80%; */
}

.input-form {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.input-container-column{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-screenshot-rows{
  display: flex;
  flex-direction: row;
}

.me-input{
  /* margin-left: 100px; */
  margin-top: 3px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.them-input{
  /* margin-right: 100px; */
  margin-bottom: 3px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.submit-btn{
  height: 60%;
  width: 15%;
  margin: auto;
  margin-left: 5px;

}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

button[type="submit"] {
  background-color: #FF6A5C;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 60%;
}

button[type="submit"]:hover {
  background-color: #f9897f;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px); /* Adjust to your preferred height */

  /* Add margin to the right to make room for the Navigation component */
  margin-right: 200px;
  padding: 20px;
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.chat-history {
  overflow-y: scroll;
}

.chat-message {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
}