@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@500&family=Poppins:wght@600&display=swap');


.navigation-container{
  display: flex;
  flex-direction: column;
}

.navigation-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: #f78d83;
    color: #fff;
    height: 100%;
    box-sizing: border-box;
    width: 100px;
    border-radius: 20px;

  }
  
  .navigation-header {
    color: #fff;
    padding: 10px;
  }
  
  .navigation-header img {
    height: 40px;
    width: 40px;
  }
  
  .navigation-indicator {
    /* height: 10px; */
    width: 100%;
    background-color: #FF6A5C;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .navigation-indicator-complete{
    width: 100%;
    background-color: #FF6A5C;
    border-radius: 20px;
  }

  p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #FF6A5C;
    font-family: 'Poppins', sans-serif;
  }
  