.navigation-container{
  display: flex;
  flex-direction: column;
}

.navigation-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #6ab1bb;
    color: #fff;
    height: 100%;
    box-sizing: border-box;
    width: 100px;
    border-radius: 20px;

  }
  
  .navigation-header {
    color: #fff;
    padding: 10px;
  }
  
  .navigation-header img {
    height: 40px;
    width: 40px;
  }
  
  .navigation-indicator {
    /* height: 10px; */
    width: 100%;
    background-color: #056571;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .navigation-indicator-complete{
    width: 100%;
    background-color: #056571;
    border-radius: 20px;
  }

  p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #056571;
  }
  