@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@500&family=Poppins:wght@600&display=swap');
body {
  background: #CCDFCB;
  font-size: 20px;
}

.header-title {
  color: #FF6A5C;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  letter-spacing: 3px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
  padding: 3vh;
}